html {
  height: 100%; }

body {
  overflow: hidden;
  background-image: url("../images/star-trek-background.jpg");
  background-image: url("../images/background-two.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

#quote {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #FF9933;
  position: absolute;
  left: 30%;
  top: 30%;
  text-align: center;
  max-width: 900px; }

.lcars {
  position: absolute;
  height: 150px;
  width: 200px;
  bottom: 35px;
  right: 35px; }

#txt {
  color: #FF9933;
  position: absolute;
  margin-left: 85%;
  font-size: 3vw; }
