$orange-writing: #FF9933;
$button-purple: #9999FF;

* {
    cursor: url("http://cur.cursors-4u.net/symbols/sym-7/sym625.cur"), auto !important;
 }

html {
    height: 100%;
}

body {
    overflow: hidden;
    background-image: url('../images/star-trek-background.jpg');
    background-image: url('../images/background-two.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#quote {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color:$orange-writing;
    position: absolute;
    left:30%;
    top: 30%;
    text-align: center;
    max-width: 900px;
}

.lcars {
    position: absolute;  
    height: 150px;
    width: 200px;
    bottom: 35px;
    right: 35px;
}

#txt {
    color: $orange-writing;
    position: absolute;
    margin-left: 85%;
    font-size: 3vw;;
}

#hi {
    color: white;
}

#ship-pic {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 300px;
    left: 450px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:15%;
}

li {
    float: left;


}
li a {
  display: block;
  color: $button-purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

a:link a:visited a:hover a:active {
    color: $button-purple;
    text-decoration: none;
}

.starship {
    height: 15%;
    width: 15%;
    position: absolute;
    bottom: 35px;
    right: 245px;
    animation: starshipIn 3s ease-out;
}

@keyframes starshipIn {
    0% {
        transform: translateX(-900%);

    }
    100% {
        transform: translateX(0%);
    }
}

